<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zero.customview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".activity.GlobalContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.NormalKeyBoardActivity" />
        <activity android:name=".activity.ProgressBarActivity" />
        <activity android:name=".activity.DrawViewActivity" />
        <activity
            android:name=".activity.DownloadActivity"
            android:label="@string/task_download"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.ShapeActivity" />
        <activity android:name=".activity.CanvasViewActivity" />
        <activity android:name=".activity.AnimActivity" />
        <activity android:name=".activity.DragViewActivity" />
        <activity
            android:name=".activity.PhotoViewActivity"
            android:label="@string/title_activity_photo_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DragPhotoActivity"
            android:theme="@style/translucent" />
        <activity
            android:name=".activity.FadePhotoActivity"
            android:theme="@style/ImageTheme.Transparent" />
        <activity
            android:name=".activity.VideoPlayerActivity"
            android:label="@string/title_activity_media_player"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ChartActivity"
            android:label="@string/title_activity_chart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.OpenGLActivity"
            android:label="@string/title_activity_open_gl"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>